<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_friend" method="post">
        <label for="room_id">部屋を追加</label>
        <input id="room_id" name="room_id" type="text">
        <button>追加</button>
    </form>
    
    <ul>
        <% for (const room of rooms) { %>
            <li>
                <a href="/room/<%= room.id %>">
                    <%= room.name %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>