<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>
    <h1><%= service_name %></h1>
    <form action="/auth" method="post">
        <label for="id">ログインID</label>
        <input id="id" name="login_id" type="text" required>
        <br>
        <label for="password">パスワード</label>
        <input id="password" name="password" type="password" required>
        <button>ログイン</button>
    </form>
    <a href="/user_registration">ユーザー登録</a>
</body>
</html>