<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <ul id="messages">
            <% for (const message of messages) { %>
                <% if (user_id === message.user.id) { %>
                    <li class="me">
                        <%= message.text %>
                    </li>
                <% } else { %>
                    <li class="not_me">
                        <img src="<%= message.user.icon_path %>"><%= message.text %>
                    </li>
                <% } %>
            <% } %>
        </ul>

        <input type="text" name="message" placeholder="メッセージを送信">
        <button id="send">送信</button>
    </main>
    <script>
        
    </script>
</body>
</html>