<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/destyle.css">
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div id="messages">
                <% for (const message of messages) { %>
                    <% if (user_id === message.user.id) { %>
                        <div class="right">
                            <p class="me">
                                <%= message.text %>
                            </p>
                        </div>
                        
                    <% } else { %>
                        <div class="not_me">
                            <p id="name">山田</p>
                            <p id="message">
                                <img src="<%= message.user.icon_path %>"><%= message.text %>
                            </p>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div>
                <input type="text" name="message" placeholder="メッセージを送信">
                <button id="send">送信</button>
            </div>
        </section>
    </main>
    <script>
        
    </script>
</body>
</html>