<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1><%= service_name %></h1>
    <form action="/user_registration" method="post">
        <label for="name">名前</label>
        <input id="name" name="name" type="text" required>
        <br>
        <label for="id">ログインID</label>
        <input id="id" name="login_id" type="text" required>
        <br>
        <label for="password">パスワード</label>
        <input id="password" name="password" type="password" required>
        <button>登録</button>
    </form>
</body>
</html>