/*--------------------------携帯画面----------------------*/
body {
    height: 100vh;
    background-image: url(/image/chatbg1.jpg);
    
}

section {
    width: 100%;
}

.not_me {
    max-width: 65%;
    /* display: inline-block; */
    background-color: white;
    margin-top: 2vh;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 30px;
}
.message {
    margin-top: 0.5rem;
}
.name::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    /* background-color: none; */
    width: 5vh;
    height: 5vh;
    border: solid 1px black;
    border-radius: 50%;
    background: url(/image/chaticon.PNG) no-repeat;
    background-size: contain;
    margin-right: 10px;
    margin-bottom: 0.5rem;
}

.me {
    /* /* width: 50%; */
    max-width: 60%;
    margin: 2vh 0 0 0;
    display: inline-block;
    background-color: rgb(111, 230, 111);
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 30px;
}
.right{
    display: flex;
    justify-content: end;
}

.name {
    border-bottom: solid 1px rgb(155, 154, 154);
}

div:nth-child(2) {
    background-color: rgb(216, 209, 188);
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    /* text-align: center; */
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

div:nth-child(2) input {
    border: solid 1px black;
    margin-top: 2vh;
    width: 60%;
    height: 6vh;
}

div:nth-child(2) button { 
    text-align: center;
    border: solid 1px black;
    color: black;
    margin-top: 2vh;
    width: 20%;
    height: 6vh;
}

/*--------------------------PC画面--------------------------*/
@media screen and (min-width: 960px){

}